@import "/src/assets/theme/variables.scss";

// .sidebar {
//     position: fixed;
//     // height: 100vh;
//     width: $sidebar-width;
//     background: $main-theme;
//     box-shadow: $sidebar-shadow;

//     height: calc(6 * 50px + 10px);
//     max-height: 100vh;
//     border-bottom-right-radius: 10px;

//     .elements {
//         .element {
//             position: relative;
//             height: 50px;
//             display: inline-flex;
//             align-items: center;
//             min-width: $sidebar-width;
//             max-width: $sidebar-width;
//             overflow: hidden;
//             cursor: pointer;
//             transition: all .25s linear;

//             &:hover {
//                 max-width: 220px;
//             }

//             i, fa-icon, .label {
//                 color: #c6bfbf;
//             }

//             i, fa-icon {
//                 display: block;
//                 font-size: 20px;
//                 width: $sidebar-width;
//                 text-align: center;
//                 ::ng-deep {
//                     svg {
//                         height: 20px;
//                     }
//                 }
//             }


//             .label {
//                 font-size: 16px;
//                 display: flex;
//                 align-items: center;
//                 height: 40px;
//                 width: max-content;
//                 white-space: nowrap;
//                 padding-inline: 10px;
//                 background: $second-color;
//                 position: relative;
//                 border-top-right-radius: 10px;
//                 border-bottom-right-radius: 10px;

//                 &::before {
//                     content: '';
//                     height: 10px;
//                     width: 10px;
//                     position: absolute;
//                     top: -10px;
//                     background: transparent;
//                     left: 0px;
//                     border-bottom-left-radius: 5px;
//                     box-shadow: -3px 3px 0 0 $second-color;                    
//                 }
//                 &::after {
//                     content: '';
//                     height: 10px;
//                     width: 10px;
//                     position: absolute;
//                     bottom: -10px;
//                     background: transparent;
//                     left: 0px;
//                     border-top-left-radius: 5px;
//                     box-shadow: -3px -3px 0 0 $second-color;               
//                 }
//             }
//         }
//     }
// }

@mixin trigger-line {
    height: 2px;
    width: 20px;
    background: $sidebar-font-color;
    position: absolute;
}

@mixin active-element {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: transparent;
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateY(-4px) }
    35% { transform: translateY(-4px) rotate(17deg) }
    55% { transform: translateY(-4px) rotate(-17deg) }
    65% { transform: translateY(-4px) rotate(17deg) }
    75% { transform: translateY(-4px) rotate(-17deg) }
    100% { transform: translateY(0) rotate(0) }
}

.sidebar {
    height: 100%;
    width: $sidebar-width-closed;
    overflow: hidden;
    transition: width 0.2s ease-in-out;

    .elements {
        height: calc(100% - 40px);
        position: relative;

        .element {
            cursor: pointer;
            height: 50px;
            display: flex;
            align-items: center;
    
            i,
            fa-icon,
            .label {
                color: $sidebar-font-color;
            }
    
            i,
            fa-icon {
                display: block;
                font-size: 20px;
                width: $sidebar-width-closed;
                text-align: center;
    
                ::ng-deep {
                    svg {
                        height: 20px;
                    }
                }
            }
    
            .label {
                font-size: 16px;
                white-space: nowrap;
            }
    
            &.active-route {
                background: #f8f9fe;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                margin-left: 5px;
                position: relative;
    
                i,
                fa-icon,
                .label {
                    color: $second-color;
                }
    
                &::before {
                    @include active-element;
                    inset: -20px 0 auto auto;
                    box-shadow: 7px 10px 0px 0px #f8f9fe;
                }
    
                &::after {
                    @include active-element;
                    inset: auto 0 -20px auto;
                    box-shadow: 7px -10px 0px 0px #f8f9fe;
                }
            }

            &:last-of-type {
                position: absolute;
                bottom: 10px;
            }

            &:hover {
                &:not(.active-route, :last-child) {
                    i, fa-icon {
                        animation: shake 0.45s;
                    }
                }
            }
        }
    }


    .sidebar-trigger {
        padding: 5px;
        height: 40px;

        .trigger {
            margin: 5px 11px;
            cursor: pointer;
            width: 20px;
            height: 20px;
            display: flex;
            flex-direction: column;
            row-gap: 3px;
            position: relative;
            overflow: hidden;

            .first-line,
            .second-line,
            .third-line {
                display: block;
                @include trigger-line;
                border-radius: 1px;
                transition: all .2s ease-in-out;
            }

            .second-line {
                top: 6px;
            }

            .third-line {
                top: 12px;
            }
        }
    }

    &.opened {
        width: $sidebar-width-opened;

        .sidebar-trigger {
            .trigger {
                .first-line {
                    top: 7px;
                    transform: rotate(45deg);
                }

                .second-line {
                    transform: translateX(-20px);
                }

                .third-line {
                    top: 7px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}