<div class="charts-customizator">
    <app-breadcrumb [model]="breadcrumbItems">
        <app-button-line [label]="'Save'" [icon]="'pi pi-save'" [severity]="'success'" (click)="saveCharts()"></app-button-line>
    </app-breadcrumb>
    <div class="content">
        <div class="custom-form-container">
            <form [formGroup]="form">
                <formly-form
                  [model]="model"
                  [fields]="fields"
                  [options]="options"
                  [form]="form"
                ></formly-form>
                <div class="submit-button">
                    <app-button [type]="'submit'" [label]="'Calculate'" (click)="calculate()"></app-button>
                </div>
              </form>
        </div>
        <div class="custom-output">
            <p-tabView [(activeIndex)]="tabViewActiveIndex" (activeIndexChange)="getDataToDisplay()">
                <p-tabPanel *ngFor="let panel of tabViewPanels" [header]="panel.header">
                    <p-table [value]="displayedTable.length ? displayedTable : squatTable" styleClass="p-datatable-sm p-datatable-gridlines">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div>Reps</div>
                                    <hr>
                                    <div>RPE</div>
                                </th>
                                <th rowspan="2" colspan="1" *ngFor="let col of columns">{{ col }}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-lifts let-index="rowIndex">
                            <tr>
                                <td>{{ rows[index] }}</td>
                                <td *ngFor="let lift of lifts">{{ lift * 100 | number: '1.0-4' }}%</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>