<p-inputNumber
  [formControl]="formControl"
  [prefix]="to['prefix']"
  [suffix]="to['suffix']"
  [showButtons]="to['showButtons']"
  buttonLayout="horizontal"
  incrementButtonIcon="pi pi-plus"
  decrementButtonIcon="pi pi-minus"
  [min]="to['minValue']"
  [max]="to['maxValue']"
  (ngModelChange)="to['ngModelChange'] ? to['ngModelChange']($event) : null"
  [minFractionDigits]="to['minFractionDigits'] ? to['minFractionDigits'] : 0"
  [maxFractionDigits]="to['maxFractionDigits'] ? to['maxFractionDigits'] : 2"
  [class]="to['class'] ? to['class'] : ''"
></p-inputNumber>
