:root {
    --primary: rgb(165, 0, 165);
    --primary-hover: rgb(136, 0, 136);

    --success: rgb(65, 199, 65);
    --success-hover: rgb(51, 177, 51);

    --warning: rgb(255, 115, 0);
    --warning-hover: rgb(235, 106, 0);

    --info: rgb(30, 142, 247);
    --info-hover: rgb(28, 127, 219);

    --danger: rgb(250, 0, 0);
    --danger-hover: rgb(211, 0, 0);
}